.square60x60 {
  display: inline-block;
  width: 60px;
  height: 60px;
}


.border {
  border-style: solid;
  border-width: 1px;
}

.border--red {
  border-color: red;
}

.bg-red {
  background: #bb0000;
}

.bg-blue {
  background: blue;
}

.bg-green {
  background: green;
}

.bg-yellow {
  background: yellow;
}

.bg-white {
  background: white;
}

.bg-img {
  /* Veikia nuotraukom užkrautom naudojant url(...) */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  /* Paslepia iš elemento kontūrų išeinančius vaikus */
  overflow: hidden;
}

.bg-img>img:first-of-type {
  /* Object-fit naudojame su <img> */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.static-example, .relative-example, .absolute-example, .sticky-example {
  border: 2px solid grey;
  padding: 7px;
  font-size: 0;
}

.static-example *, .relative-example *, .absolute-example *, .sticky-example * {
  font-size: 1rem;
  vertical-align: top;
}

.absolute-example {
  height: 300px;
}

.sticky-example {
  height: 200px;
  overflow-y: scroll;
}

.text-white {
  color: #fff;
}

.font-size-sm {
  font-size: .75rem;
}

.square60x60.font-size-sm {
  line-height: 30px;
}

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.pos-expand {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-1 {
  top: 1rem;
}

.right-1 {
  right: 1rem;
}

.bottom-1 {
  bottom: 1rem;
}

.left-1 {
  left: 1rem;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}

.opacity-0 {
  opacity: 0
}

.opacity-10 {
  opacity: .1
}

.opacity-20 {
  opacity: .2
}

.opacity-30 {
  opacity: .3
}

.opacity-40 {
  opacity: .4
}

.opacity-50 {
  opacity: .5
}

.opacity-60 {
  opacity: .6
}

.opacity-70 {
  opacity: .7
}

.opacity-80 {
  opacity: .8
}

.opacity-90 {
  opacity: .9
}

.opacity-100 {
  opacity: 1
}

/* Grid examples */

.grid-task-1 {
  float: left;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.grid-task-2 {
  display: grid;
  float: left;
  height: 300px;
  width: 300px;
  background: #333;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-right: 10px;
  gap: .5rem;
  margin-bottom: 10px;
}

.grid-task-3 {
  display: grid;
  float: left;
  height: 300px;
  width: 300px;
  background: #333;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* margin-right: 10px; */
  gap: .5rem;
  margin-bottom: 10px;
}

.grid-task-4 {
  display: grid;
  float: left;
  height: 300px;
  width: 300px;
  background: #333;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-right: 10px;
  gap: .5rem;
}

.grid-task-5 {
  display: grid;
  float: left;
  height: 300px;
  width: 300px;
  background: #333;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-right: 10px;
  gap: .5rem;
}

.grid-task-6 {
  display: grid;
  float: left;
  height: 300px;
  width: 300px;
  background: #333;
  grid-template-columns: 3fr 1fr 2fr 2fr 1fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  /* margin-right: 10px; */
  gap: .5rem;
}

.grid-area-example {
  display: grid;
  height: 70vh;
  grid-template-columns: 2fr 8fr 8fr 1fr 8fr 2fr;
  grid-template-rows: 80px 3fr 2fr 6fr 80px;
  grid-template-areas: "header header header header header header" "cover cover cover cover cover cover" ". banner banner . sidebar ." ". main main . sidebar ." "footer footer footer footer footer footer";
  margin-bottom: 200px;
}

.grid-area-example__header {
  grid-area: header;
  justify-self: stretch;
  background: #640101;
  color: white;
}

.grid-area-example__cover {
  grid-area: cover;
  justify-self: stretch;
  background-image: url(../img/cover-js.png);
  background-size: cover;
  background-position: center;
}

.grid-area-example__banner {
  grid-area: banner;
  justify-self: stretch;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  color: white;
  font-style: italic;
}

.grid-area-example__sidebar {
  grid-area: sidebar;
  justify-self: stretch;
  background: #2f3030;
  color: white;
}

.sidebar-link-container {
  list-style: none;
  padding: 0;
}

.sidebar-link-container a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: .5rem;
}

.sidebar-link-container a:hover {
  color: #ddd;
}

.grid-area-example__main {
  grid-area: main;
  justify-self: stretch;
  background: #bb00bb;
  padding: 0 1rem;
}

.grid-area-example__footer {
  grid-area: footer;
  justify-self: stretch;
  background: #640101;
  color: white;
}

.grid-col-span-2 {
  grid-column: 2 span;
}

.grid-col-span-3 {
  grid-column: 3 span;
}

.grid-col-span-4 {
  grid-column: 4 span;
}

.grid-row-span-2 {
  grid-row: 2 span;
}

/* CSS prioritetai */

.css-specifity-strength li span {
  display: inline-block;
  width: 150px;
}