@media (min-width: 575.98px) {
  .card-img-top {
    height: 290px;
  }
}

/* Small devices (landscape phones, less than 768px) */

@media (min-width: 767.98px) {
  .card-img-top {
    height: 220px;
  }
}

/* Medium devices (tablets, less than 992px) */

@media (min-width: 991.98px) {
  .card-img-top {
    height: 190px;
  }
}

/*  Large devices (desktops, less than 1200px) */

@media (min-width: 1199.98px) {
  .card-img-top {
    height: 280px;
  }
}