.grid-javascript-use-cases {
  display: grid;
  height: 100vh;
  grid-template-columns: auto [card-content-start-1] 60px [card-img-start-1] 180px [card-content-end-1] 60px [card-img-end-1] 180px [card-img-start-2] 60px [card-content-start-2] 180px [card-img-end-2] 60px [card-content-end-2] auto;
  grid-template-rows: 90px 4fr [card-img-start-1] 60px [card-content-start-1] 180px [card-img-end-1] 60px [card-content-end-1] 10fr [card-img-start-2] 60px [card-content-start-2] 180px [card-img-end-2] 60px [card-content-end-2] 3fr;
  background: url(../img/cover-js.png);
  background-size: cover;
}

.card-content {
  justify-self: stretch;
  background: #fffd;
  padding: 1rem;
  order: 2;
}

.card-content--1 {
  grid-column: card-content-start-1 / card-content-end-1;
  grid-row: card-content-start-1 / card-content-end-1;
}

.card-content--2 {
  grid-column: card-content-start-2 / card-content-end-2;
  grid-row: card-content-start-1 / card-content-end-1;
}

.card-content--3 {
  grid-column: card-content-start-1 / card-content-end-1;
  grid-row: card-content-start-2 / card-content-end-2;
}

.card-content--4 {
  grid-column: card-content-start-2 / card-content-end-2;
  grid-row: card-content-start-2 / card-content-end-2;
}

.card-img{
  height: 100%;
  width: 100%;
  justify-self: stretch;
  object-fit: cover;
  order: 1;
}

.card-img--1 {
  grid-column: card-img-start-1 / card-img-end-1;
  grid-row: card-img-start-1 / card-img-end-1;
}

.card-img--2 {
  grid-column: card-img-start-2 / card-img-end-2;
  grid-row: card-img-start-1 / card-img-end-1;
}

.card-img--3 {
  grid-column: card-img-start-1 / card-img-end-1;
  grid-row: card-img-start-2 / card-img-end-2;
}

.card-img--4 {
  grid-column: card-img-start-2 / card-img-end-2;
  grid-row: card-img-start-2 / card-img-end-2;
}