.grid-javascript-use-cases {
  display: grid;
  height: 100vh;
  grid-template-columns: auto [card-content-start-1] 60px [card-img-start-1] 180px [card-content-end-1] 60px [card-img-end-1] 120px [card-img-start-2] 60px [card-content-start-2] 180px [card-img-end-2] 60px [card-content-end-2] auto;
  grid-template-rows: 90px 2fr [card-img-start-1] 60px [card-content-start-1] 180px [card-img-end-1] 60px [card-content-end-1] 6fr [card-img-start-2] 60px [card-content-start-2] 180px [card-img-end-2] 60px [card-content-end-2] 3fr;
  background: url(../img/cover-js.png);
  background-size: cover;
  background-position: center;
}

.card-content {
  justify-self: stretch;
  background: #fffe;
  padding: 1rem;
  order: 2;
}

.card-content__date{
  margin: 0;
  text-transform: uppercase;
  font-size: .5rem;
  color: #444;
  font-weight: 400;
}

.card-content__title{
  text-transform: capitalize;
  font-size: 1rem;
  margin: .2rem 0 .5rem;
}

.card-content__decoration{
  height: 4px;
  width: 30%;
  background: #111;
}

.card-content__text{
  font-size: .7rem;
  margin: .5rem 0 .6rem;
}

.card-content__link{
  text-transform: uppercase;
  font-size: .45rem;
  color: #444;
  font-weight: 400;
  text-decoration: none;
}

.card-content__link:hover{
  text-decoration: underline;
  color: #111;
}

.card-content--1 {
  /*  Nuo kurios stulpelio linijo iki kurios */
  grid-column: card-content-start-1 / card-content-end-1;
  grid-row: card-content-start-1 / card-content-end-1;
}

.card-content--2 {
  grid-column: card-content-start-2 / card-content-end-2;
  grid-row: card-content-start-1 / card-content-end-1;
}

.card-content--3 {
  grid-column: card-content-start-1 / card-content-end-1;
  grid-row: card-content-start-2 / card-content-end-2;
}

.card-content--4 {
  grid-column: card-content-start-2 / card-content-end-2;
  grid-row: card-content-start-2 / card-content-end-2;
}

.card-img {
  justify-self: stretch;
  order: 1;
}

.card-img>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-img--1 {
  grid-column: card-img-start-1 / card-img-end-1;
  grid-row: card-img-start-1 / card-img-end-1;
}

.card-img--2 {
  grid-column: card-img-start-2 / card-img-end-2;
  grid-row: card-img-start-1 / card-img-end-1;
}

.card-img--3 {
  grid-column: card-img-start-1 / card-img-end-1;
  grid-row: card-img-start-2 / card-img-end-2;
}

.card-img--4 {
  grid-column: card-img-start-2 / card-img-end-2;
  grid-row: card-img-start-2 / card-img-end-2;
}

/* Responsive */

/* Galioja iki 1200px */

@media screen and (max-width: 1200px) {
  .grid-javascript-use-cases {
    grid-template-columns: auto [card-content-start-1] 60px [card-img-start-1] 180px [card-content-end-1] 60px [card-img-end-1] 100px [card-img-start-2] 60px [card-content-start-2] 180px [card-img-end-2] 60px [card-content-end-2] auto;
    grid-template-rows: 90px 2fr [card-img-start-1] 60px [card-content-start-1] 180px [card-img-end-1] 60px [card-content-end-1] 5fr [card-img-start-2] 60px [card-content-start-2] 180px [card-img-end-2] 60px [card-content-end-2] 3fr;
  }
}

/* Galioja iki 960px */

@media screen and (max-width: 960px) {
  .grid-javascript-use-cases {
    grid-template-columns: auto [card-content-start-1] 30px [card-img-start-1] 180px [card-content-end-1] 30px [card-img-end-1] 120px [card-img-start-2] 30px [card-content-start-2] 180px [card-img-end-2] 30px [card-content-end-2] auto;
    grid-template-rows: 90px 6fr [card-img-start-1] 30px [card-content-start-1] 180px [card-img-end-1] 30px [card-content-end-1] 10fr [card-img-start-2] 30px [card-content-start-2] 180px [card-img-end-2] 30px [card-content-end-2] 10fr;
  }
}

/* Galioja iki 720px */

@media screen and (max-width: 720px) {
  
  .grid-javascript-use-cases {
    background-image: radial-gradient(circle, #62625e, #585854, #4f4f4b, #454542, #3c3c39);
    grid-template-columns: auto [card-content-start-1 card-img-start-1 card-img-start-2 card-content-start-2]  440px [card-content-end-1 card-img-end-1 card-img-end-2 card-content-end-2] auto;
    grid-template-rows: 90px
    3fr [card-img-start-1 card-content-start-1] 10fr [card-img-end-1 card-content-end-1]
    1fr [card-img-start-2 card-content-start-2] 10fr [card-img-end-2 card-content-end-2]
    1fr [card-img-start-3 card-content-start-3] 10fr [card-img-end-3 card-content-end-3]
    1fr [card-img-start-4 card-content-start-4] 10fr [card-img-end-4 card-content-end-4]
    3fr;
  }

  .card-img--1 { grid-row: card-img-start-1 / card-img-end-1; }
  .card-img--2 { grid-row: card-img-start-2 / card-img-end-2; }
  .card-img--3 { grid-row: card-img-start-3 / card-img-end-3; }
  .card-img--4 { grid-row: card-img-start-4 / card-img-end-4; }
  .card-content--1 { grid-row: card-content-start-1 / card-content-end-1}
  .card-content--2 { grid-row: card-content-start-2 / card-content-end-2}
  .card-content--3 { grid-row: card-content-start-3 / card-content-end-3}
  .card-content--4 { grid-row: card-content-start-4 / card-content-end-4}

  .card-content{
    background-image: linear-gradient(to right bottom, #ffd243, #fbcc39, #f7c62e, #f3c021, #efba0f);
    border-radius: 4px;
    box-shadow: 4px 6px 4px #000, -4px 0 4px #000;
  }
  .card-img {
    display: none;
  }
}

/* Galioja iki 480px */
@media screen and (max-width: 480px) {
  .grid-javascript-use-cases {
    grid-template-columns: auto [card-content-start-1 card-img-start-1 card-img-start-2 card-content-start-2] 280px [card-content-end-1 card-img-end-1 card-img-end-2 card-content-end-2] auto;
    grid-template-rows: 90px
    3fr [card-img-start-1 card-content-start-1] 10fr [card-img-end-1 card-content-end-1]
    1fr [card-img-start-2 card-content-start-2] 10fr [card-img-end-2 card-content-end-2]
    1fr [card-img-start-3 card-content-start-3] 10fr [card-img-end-3 card-content-end-3]
    1fr [card-img-start-4 card-content-start-4] 10fr [card-img-end-4 card-content-end-4]
    3fr;
  }
}