.grid-javascript-use-cases {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 50px 150px 50px 2px 50px 150px 50px auto;
  grid-template-rows: 90px 3fr 50px 150px 50px 2fr 50px 150px 50px 3fr ;
}

}