.square40x40{
  display: inline-block;
  width: 40px;
  height: 40px;
}

.bg-red{
  background: #bb0000;
}

.border{
  border-style: solid;
  border-width: 1px;
}

.border--red{
  border-color: red;
}

.static-example{
  border: 2px solid grey;
  font-size: 0;
  padding: 7px;
}





